.navbar {
    background-color: grey;

    .navbar__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .navbar__menu-list{
            display: none;
            list-style: none;
            display: flex;
            gap: 21px;
            margin-left: 40px;
            
        

            .navbar__menu-item {
                font-family: var(--main-font);
                cursor: pointer;
                padding: 10px;

                &:hover {
                    color: var(--button-primary--color);

  
                    }
                }
            .navbar__menu-link {
                text-decoration: none;
                color: var(--nav-link-text-color);
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.2px;

        
            }
        }

        .navbar__logo-wrapper {
            flex: 1;
        }

        .navbar__social{
                
        }
          
        }
    }
